.course {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  background-color: rgb(11, 10, 13);
  background: url(https://app.rocketseat.com.br/static/media/FeaturedCardBg.40a7d53e.png)
    0% 0% / cover;

  height: 650px;
  max-width: 400px;
  padding: 48px;
  border-radius: 8px;
  margin-bottom: 25px;
  align-items: center;
  transition: all 0.2s ease 0s;
}

.color {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.course:hover {
  margin-top: -15px;
  border: 2px solid #fff;
}

@media (max-width: 1120px) {
  .course {
    width: 100%;
    max-height: 450px;
    background-position: center bottom;
    padding: 30px;
  }
}

@media (max-width: 1225px) {
  .course {
    padding: 64px 48px;
  }
}

.course span {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 50%;
  border: 2px solid #fff;
}
