.App {
  text-align: center;
}

.content {
  display: flex;
  padding: 100px 150px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1120px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}
