.App {
  text-align: center;
}

.content-wrapper {
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 1366px;
  margin-top: 60px;
  padding: 48px;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: space-between;
}

@media (max-width: 1120px) {
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 1250px) {
  .content {
    padding: 48px 0;
  }
}
